{% extends "base_generic.html" %}

{% block content %}
  <h1 style="text-align: center;">Book List</h1>
  {% if book_list %}
      {% for book in book_list %}
        <div class="container border" style="margin: 5px;">
          <h2>{{ book.title }}</h2>
          <p><strong>Author:</strong> {{ book.author }}</p>
          <a
          style="margin-bottom: 10px"
          class="btn btn-primary"
          href="{{ book.get_absolute_url }}"
          >View Book Details
        </a>
        </div>
      {% endfor %}
  {% else %}
    <p>There are no books in the library.</p>
  {% endif %}
{% endblock %}
